<h1 class="uk-text-center">NPR News Scraper</h1>

<div class="uk-container uk-align-center">
    <h2 class="uk-text-center">Scrape Articles Again</h2>
    {{!-- This scrapes the NPR website again --}}
    <form class="uk-text-center" action="/scrape" method="GET">
        <button type="submit" class="scrapeBtn">Scrape</button>
    </form>
</div>

<div class="uk-text-center uk-grid uk-grid-divider">
<div class="uk-width-1-2" id="articles">
<h2>Articles</h2>

</div>

<div class="uk-width-1-2" id="notes">
<h2>Notes</h2>

</div>

</div>

